<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">Edy Dawson - Experience</h1>
			<nav>
				<ul>
                  <li><a href="edy_rails_demo/app/views/welcome/experience.html">Experience</a></li>
                  <li><a href="edy_rails_demo/app/views/welcome/education.html">Education</a></li>
                  <li><a href="edy_rails_demo/app/views/welcome/portfolio.html">Portfolio</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">

			<article>
				<section>					
<h3>O’Reilly Media</h3>
<p>Online Group<br />
Sebastopol, CA<br />
Sept. 2012 to present<br />
Web Producer<br />
Accomplishments: Developed Discount Request form and notification emails to facilitate the organization of product discounts. Creating Print Book Submission form and reports for Partner Publishers. Developing Sponsorship Management application to manage conference sponsor deliverables and tasks. Creating .Net C# application to read conference speaker Excel files and identify O’Reilly authors and their products.<br /><br />

Create, enhance and maintain O’Reilly Media websites and applications using CS-Admin, Perl, JavaScript, JQuery, HTML, CSS, and C# in a Mac/Linux/MySQL development environment. Monitor, assign and complete Web Production ticket queue requests. Identify and remove spam from Forums and Answers posts.</p><br /><br /> 
					
				</section>
				<footer>
					<h3>article footer h3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
				</footer>
			</article>

			<aside>
				<h3>aside</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
			</aside>

		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>footer</h3>
		</footer>
	</div>
