<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">Edy Dawson</h1>
			<nav>
				<ul>
					<li><a href="~/Desktop/edy_rails_demo/app/views/welcome/experience.html">Experience</a></li>
					<li><a href="Desktop/edy_rails_demo/app/views/welcome/education.html">Education</a></li>
					<li><a href="/Desktop/edy_rails_demo/app/views/welcome/portfolio.html">Portfolio</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">

			<article>
				<section>
					<h2>Summary</h2>					
							<li>Organized and well prepared.</li>
							<li>Strong analytical, prioritization and multi-tasking skills.</li>
							<li>Communicates well verbally and in written media.</li>
							<li>Works well independently or in a team environment.</li>
							<li>Dedicated life-long student of new technology, processes and theories.</li>
							<li>Skillfully combines technical and creative abilities for effective problem solving.</li>
							<li>Successfully translates technical concepts into effective user experiences.</li>					
				</section>
				<section>
					<h2>Skill Areas</h2>
							<li>Web Application Design and Development </li>
							<li>User Interface Design / User Experience</li>
							<li>Database Design and Development</li>
				</section>
				<section>
					<h3>Analyze</h3>
							<li>Research</li>
							<li>Usability Processes</li>
							<li>Project Management</li>
							<li>Requirements Definition</li>
							<li>Information Architecture</li>
					<h3>Design</h3>
							<li>Graphic Design</li>
							<li>Online Learning</li>
							<li>Database Design</li>
							<li>User Interface Design</li>
							<li>Web Application Design</li>
					<h3>Implement</h3>
							<li>Web Development</li>
							<li>Visual Design Assets</li>
							<li>Software Programming</li>
					<h3>Communicate</h3>
							<li>Prototypes</li>
							<li>Instructional Design</li>
							<li>Technical Documentation</li> 
					<h3>Technical Skills</h3>
							<li>C#</li>
							<li>CSS</li>
							<li>SQL</li>
							<li>XML</li>
							<li>AJAX</li>
							<li>HTML</li>
							<li>JQuery</li>
							<li>ASP.NET</li>
							<li>JavaScript</li>
							<li>Web Services</li>
					<h3>Tools</h3>
							<li>CS</li>
							<li>MySQL</li>
							<li>InDesign</li>
							<li>Illustrator</li>
							<li>Photoshop</li>
							<li>SQL Server</li>
							<li>WordPress</li>
							<li>Visual Studio</li>
							<li>Dreamweaver</li>
							<li>MS Office Suite</li>
					<h3>Learning</h3>
							<li>Perl</li>
							<li>Mobile</li>
							<li>HTML5</li>
							<li>Ruby on Rails</li>
							<li>Responsive Design</li>
					<h3>Systems</h3>
							<li>Mac</li>
							<li>Linux</li>
							<li>Windows</li>
				</section>
				<footer>
					<h3>article footer h3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
				</footer>
			</article>

			<aside>
				<h3>aside</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
			</aside>

		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>footer</h3>
		</footer>
	</div>
